<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post </title>
</head>
<body>
    <h2>Edit your Post</h2>
    <p>Post Id: <%= post.id %></p>
    <p>Post username:@<%= post.username %></p>
    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea name="content" rows="10" cols="35"><%= post.content %></textarea>
        <br><br>
        <button type="submit">Update Post</button> 
    </form>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>

<div class="form-box">
    <h2>Edit Post</h2>
    <p>@<%= post.username %></p>

    <form method="POST" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea name="content"><%= post.content %></textarea>
        <button>Update</button>
    </form>
</div>

</body>
</html>
