<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Posts</h1>
    <% for (let post of posts) { %>
        <div class="post">
            <h3 class="username">@<%= post.username %></h3>
            <p class="content"><%= post.content %></p>
            <br>
             <button><a href="/posts/<%= post.id %>">See in detail</a></button>
             <button> <a href="/posts/<%= post.id %>/edit">Edit</a> </button>
             <form action="/posts/<%= post.id %>?_method=DELETE" method="POST"><button>Delete Post</button></form>
             <br>
    </div>
        </div>
    <% } %>

    <br>
    <br>
   <button> <a href="/posts/new">Create New Post</a></button> 
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>

<h1>Quora Posts</h1>

<% for (let post of posts) { %>
    <div class="post">
        <h3>@<%= post.username %></h3>
        <p><%= post.content %></p>

        <div class="actions">
            <a href="/posts/<%= post.id %>">View</a>
            <a href="/posts/<%= post.id %>/edit">Edit</a>
            <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
        </div>
    </div>
<% } %>

<div class="center">
    <a class="create-btn" href="/posts/new">Create New Post</a>
</div>

</body>
</html>

